body {
    max-width: 1280px;
    margin: auto;
    font-family: "Open Sans", sans-serif;
}

header {
    color: #fff;
    background-color: #000;
    max-height: 40px;
}

header span {
    display: inline-block;
    font-weight: bold;
    vertical-align: top;
    padding: 0.75em;
}

header nav {
    float: right;
    padding-right: 0.5em;
}

header nav p {
    padding-top: 0;
    font-size: 0.9em;
    font-weight: bold;
}

header nav a {
    color: white;
}

main h2 {
    color: #e2001a;
}

#map {
    width: calc(100% -2px);
    height: 70vh;
    border: 1px solid gray;
}

.label-temperature {
    font-size: 1.25em;
    font-weight: bold;
    padding: 0.3em;
    border: 1px solid gray;
    background-color: silver;
    display: inline;
    text-shadow:                                                       /* stylen: weiße linie rund um text definieren */
        -1px -1px 0 white,
         1px -1px 0 white,
        -1px  1px 0 white,
         1px  1px 0 white
} 

.label-Wind{
    font-size: medium;
    font-weight: bolder;
    padding: 3ex;
    border: 1px grey;
    background-color: rgb(80, 92, 63);
    display: flex;
}

.label-schneehoehe{
    font-size: small;
    font-weight: lighter;
    padding-left: 2ex;
    border: 1px blue;
    display: inline;

}

.label-luftfeuchte{
    font-size: medium;
    font-weight: initial;
    padding-bottom: 0vh;
    border: 2px aqua;
    display: inline-block;
}

